<footer>
  <div class="footer-content">
    <div>
      <h6>Content</h6>
      <ul>
        <li>New resoureces</li>
        <li>The most popular content</li>
        <li>Search trends</li>
        <li>Blog</li>
      </ul>
    </div>
    <div>
      <h6>Information</h6>
      <ul>
        <li>Affilates</li>
        <li>About us</li>
        <li>Jobs</li>
        <li>Become a contributor</li>
      </ul>
    </div>
    <div>
      <h6>Legal</h6>
      <ul>
        <li>Terms & conditions</li>
        <li>Privacy policy</li>
        <li>Support</li>
        <li>Contact</li>
      </ul>
    </div>
    <div>
      <h6>Social Media</h6>
      <ul>
        <li>Instagram</li>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Github</li>
      </ul>
    </div>
  </div>
  <div class="new-footer">
    <span>All copyrights reserved by &copy; logo</span>
  </div>
</footer>
